<div class="main-h1-image-combined">
  <h1>How well do you know London?</h1>
  <br>

<!--   <a href="http://www.flickr.com/photos/jp3g/6797709911/" title="Westminster (London in Mono) [Explored] by jp3g, on Flickr"><img src="http://farm8.staticflickr.com/7022/6797709911_ccf68489a8_z.jpg" width="640" height="481" alt="Westminster (London in Mono) [Explored]"></a> -->
</div>

