<hr>
<h5 class="percentage-answered">
  Your statistics <br>
  Answered 
</h5>
<h3>
  <%= answered_statistics %> <strong> % </strong>
</h3>

<h5 class="percentage-correctly-answered"> 
  Correctly Answered
</h5>
<h3>
  <%= response_statistics %> <strong> % </strong>
</h3>