<hr>
<h3 class="percentage-answered">
  Your statistics <br>
</h3>

<h5> 
  Answered 
</h5>

<h3>
  <%= answered_statistics %>%
</h3>

<h5 class="percentage-correctly-answered"> 
  Correctly Answered
</h5>
<h3>
  <%= response_statistics %>%
</h3>