<div class="flash-card">
<h2>You got it <%= question_response_right_or_wrong %>!</h2>
  <%= render 'statistics' %>
  <%= link_to "Next", new_response_path, class: "btn-large btn-response next-question" %>
  <%= link_to "End Game", root_path, class: "btn-large btn-response end-game" %>
</div>