<li><%= link_to raw('<i class="icon-play"></i> Play'), responses_new_path, id: "start_new_game" %></li>
<li><%= link_to raw('<i class="icon-facebook-sign"></i> j '), "/auth/facebook", id: "fb_sign_in" %></li>
